<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.0.xsd">

<bean id="personelServisBean" class="com.mimaraslan.PersonelServis">
		<property name="adi" value="Enes" />
		<property name="soyadi" value="Ataş" />
		<property name="tecrube" value="7" />
</bean>
<!-- 
	<bean id="metotCagiriOncesiYapilacaklarBean"
class="com.mimaraslan.aop.MetotCagiriOncesiYapilacaklar" />

    <bean id="metotCagiriSonrasiYapilacaklarBean"													
class="com.mimaraslan.aop.MetotCagiriSonrasiYapilacaklar" />

    <bean id="metotCagiriIstisnaSonrasiYapilacaklarBean"
class="com.mimaraslan.aop.MetotCagiriIstisnaSonrasiYapilacaklar"/>									
-->
	<bean id="cagirilanMetodunOncesiVeSonrasiOzellikleriBean"
class="com.mimaraslan.aop.CagirilanMetodunOncesiVeSonrasiOzellikleri" />	

	<bean id="basitBirPointcutBean" 
class="org.springframework.aop.support.NameMatchMethodPointcut">							
		<property name="mappedName" value="selamVer" />				
	</bean>

	<bean id="basitBirAdvisorBean" 
class="org.springframework.aop.support.DefaultPointcutAdvisor">
	
	   	<property name="pointcut" 
			  ref="basitBirPointcutBean" />
		  
	   	<property name="advice" 
			  ref="cagirilanMetodunOncesiVeSonrasiOzellikleriBean" />

	</bean>			

		
	<bean id="personelServisBeanProxy" 													
	   class="org.springframework.aop.framework.ProxyFactoryBean">
	   <property name="target" ref="personelServisBean" />							
	   <property name="interceptorNames">
		  <list>
	  <!--
		<value>metotCagiriOncesiYapilacaklarBean</value>
		<value>metotCagiriSonrasiYapilacaklarBean</value>
		<value>metotCagiriIstisnaSonrasiYapilacaklarBean</value> 
		<value>cagirilanMetodunOncesiVeSonrasiOzellikleriBean</value>
	  -->    
	        <value>basitBirAdvisorBean</value> 									
		  </list>
	  </property>
	</bean>
</beans>


















