<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="BeanPersonel" class="com.mimaraslan.Personel">											 
		
		<property name="adi" value="Toygar"></property>
		
		<property name="soyadi" value="Varlı"/>
		
		
		<property name="adres"><null/></property>
		
		
		<property name="gorevi" value=""></property>
		
		<property name="anneAdi" value=""/>
		
		<property name="babaAdi">
			<value></value>   
	        <!-- <value/> -->
		</property>

		<property name="telNo">
			<value type="java.lang.String"></value>
	        <!-- <value type="java.lang.String"/> -->
		</property>
		
		
		<property name="dogumYili">
		    <value>1993</value>
		</property>
			
		<property name="maasi" value="5000"/>
		
		<property name="medeniHali" value="false" />
		
		<property name="ehliyet" >
			<value type="boolean">true</value>
		</property>
				
	</bean>

</beans>

























