<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-4.0.xsd">
 
 <bean id="sozlerBean" class="com.mimaraslan.Sozler">						
       <property name="cumle" value="Güzel gören güzel düşünür. Güzel düşünen hayatından lezzet alır." />  					     
 </bean>

   <bean id="baslatmaBean" 
         class="com.mimaraslan.ContextOlayBaslatmaIsleyicisi"/>

   <bean id="durdurmaBean" 
         class="com.mimaraslan.ContextOlayDurdurmaIsleyicisi"/>						
</beans>